In [ ]:
import csv

In [ ]:
import numpy as np

In [ ]:
data = []

with open(r"/content/MER_T07_02A-2020-02-03 (5).csv", 'r') as csvfile:
  file_reader = csv.reader(csvfile, delimiter=',')
  for row in file_reader:
    data.append(row)

data = np.array(data)
data

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
       ['CLETPUS', '194913', '135451.32', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '195013', '154519.994', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ...,
       ['ELETPUS', '201908', '401363.186', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201909', '359300.603', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201910', '321921.812', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [ ]:
first4 = data[:10, 3]
first4

array(['Column_Order', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
      dtype='<U80')

In [ ]:
'the first row'

In [ ]:
row1to20 = data[1:21, 1:3]
row1to20

array([['194913', '135451.32'],
       ['195013', '154519.994'],
       ['195113', '185203.657'],
       ['195213', '195436.666'],
       ['195313', '218846.325'],
       ['195413', '239145.966'],
       ['195513', '301362.698'],
       ['195613', '338503.484'],
       ['195713', '346386.207'],
       ['195813', '344365.781'],
       ['195913', '378424.21'],
       ['196013', '403067.357'],
       ['196113', '421870.669'],
       ['196213', '450249.238'],
       ['196313', '493926.719'],
       ['196413', '526230.019'],
       ['196513', '570925.951'],
       ['196613', '613474.8'],
       ['196713', '630483.363'],
       ['196813', '684904.58']], dtype='<U80')

In [ ]:
seclected_row = data[:3, :], data[-3:, :])
seclected_row

SyntaxError: unmatched ')' (<ipython-input-8-930ac0c75a42>, line 1)

In [ ]:
unique_sources = np.unique(data[:, 4])

for source in unique_sources:
  source

source

'Electricity Net Generation Total (including from sources not shown), All Sectors'

In [ ]:
wind_energy_mask = data[:, 4]
wind = data[wind_energy_mask]
wind

IndexError: arrays used as indices must be of integer (or boolean) type

In [ ]:
annual_data_mask = data[:, 1].astype(int) % 100 == 13
annual_data = data[annual_data_mask]

max_energy_row = annual_data[np.argmax(annual_data[:, 2].astype(float))]

max__source = max_row[0]
max_year = max_row[1]
max_value = max_row[2]

print(f"Maximum annual energy generated details:")
print(f"Source: {max_source}")
print(f"Year: {max_year}")
print(f"Value: {max_value} Million Kilowatthours")

ValueError: invalid literal for int() with base 10: 'YYYYMM'